<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>FormalWriter: Academic Word Substituion Free Online</title>
<link rel="shortcut icon" href="/static/favicon.ico">

<!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> -->

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script data-ad-client="ca-pub-7391803830463557" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link href="https://fonts.googleapis.com/css?family=Rammetto+One|Roboto|Muli|Lato" rel="stylesheet"> 
<link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<script src="/static/scripts/nominalizer.js"></script>

<link rel="stylesheet" href="/static/scripts/nominalizer.css">
 <style>
    @media all and (max-width: 35em) {
    .my-breakpoint .ui-block-a,
    .my-breakpoint .ui-block-b,
    .my-breakpoint .ui-block-c,
    .my-breakpoint .ui-block-d,
    .my-breakpoint .ui-block-e {
      width: 100%;
      float:none;
    }
  }
 
  @media all and (min-width: 45em) {
    .my-breakpoint.ui-grid-b .ui-block-a { width: 49.95%; }
    .my-breakpoint.ui-grid-b .ui-block-b,
    .my-breakpoint.ui-grid-b .ui-block-c { width: 24.925%; }
  }
      img{

        max-width: 100%;

        max-height: 100%;

        display: block; /* remove extra space below image */

    }
.userh {

border: 1px solid #ccc;
box-sizing: border-box;
color: rgb(55, 55, 55);
cursor: pointer;
display: inline-block;
font-family: Lato, sans-serif;
font-size: 12px;
font-weight: 300;
height: 172px;
padding-bottom: 0px;
padding-left: 15px;
padding-right: 15px;
padding-top: 12px;
text-decoration: none;
text-decoration-color: rgb(55, 55, 55);
text-decoration-line: none;
text-decoration-style: solid;
width: 180px;
margin-right:20px;
margin-top:10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
	padding:10px;
	font-size:18px;
	
}
  </style>
</head>
<body style="background:#fff">
 <div id="frontpage" data-role="page" style="background:#fff">
 <div class="row">

  <div id="block-a" class="col-sm-5" style="border-radius: 25px;">
  
  	<div data-role="header" style="background:#fff;top:20px;margin-left:10px;border:none">
	 <p><a href="http://formalwriter.com/?u={{username}}" rel="external"><img src="../static/images/nomlogo.png"></a></p>	
	</div>
<a id="mylist" class="btn btn-default btn-xl" style="position:absolute;margin-left:50%;margin-top:-25px;display:none;z-index: 10;" data-role="none"> <span class="glyphicon glyphicon-erase" onclick="getUser();"></span>Clear</a>
<a id="settings" href="#setpop" class="btn btn-default btn-xl" style="position:absolute;margin-left:70%;margin-top:-25px;display:none;z-index: 10;" data-role="none" data-rel="popup" data-transition="pop"> <span class="glyphicon glyphicon-cog"></span> Settings</a>
	<div role="main" class="ui-content">
		
	<div id="mainMenu">
		<ul class="nav nav-tabs" style="margin-top:30px;">
    <li><a href="/?u={{username}}" rel="external">Informal Word Substitution</a></li>
    <li id="nom-bar"><a href="/nominalize?u={{username}}" rel="external">Nominalization</a></li>
        <li class="active"><a href="#">Paraphrase</a></li>
    <li id="gen-bar"><a href="/generate?u={{username}}" rel="external">Auto Text</a></li>
    </ul>
    </div>	
  
		 <form name="myform" id="myform" method="POST" data-ajax="false" accept-charset="UTF-8" >
    <div data-role="popup" id="setpop" data-transition="slideup" style="position:relative;padding:15px;">
		
			<div style="width:100%;padding:10px;background:#e6f6ff;text-align:center;border-radius:10px"><b>Level of Edit</b></div>
			<br>
		<div style="width:40%;display:inline;float:left;color:#5ea832"><b>Light</b></div><div style="width:10%;display:inline;color:blue;text-align:center"><b>Medium</b></div><div style="width:40%;display:inline;float:right;text-align:right;color:#a84a32"><b>Substantive</b></div>	
		<div style="width:45%;display:inline;float:left"><i>Serious Words Only</i></div><div style="width:45%;display:inline;float:right;text-align:right"><i>Edit Everything</i></div>	    
        <br>
        <br>
        <div data-role="rangeslider">
        <input type="range" name="range-6a" id="myrange" min="10" max="500" step="10" value="250">
        </div>
        <br><br>
        <div style="width:100%;padding:10px;background:#e6ffe7;text-align:center;border-radius:10px"><b>Stop List</b></div>
			<p>Separate your words with comma<br>e.g. <i>sports,cricket,football</i></p>
			<p><input id="wordlist"></input></p>
			<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>		
			<br>
 			<center><button type="button" data-role="none"><a href="#" data-rel="back">Done</a></button></center>
		</div>
		
				
		<div id="form-wrapper" style="margin-top:50px;width:100%;">
		<center>
			<p id="headTitle" style="font-family: 'Muli:wght@900&display=swap', sans-serif;font-size:25px;width:90%;color:#2e2d2b">Get Suggestions for Almost Every Word</p>
			<button id="start" type="button" class="btn btn-primary btn-lg" data-role="none" style="font-size:20px;font-weight:600;margin-top:50px;">Start Here</button>
			<p id="startNote" style="margin-top:25px;font-size:12px;">Login is not required</p>
			<div style="width:85%;float:left;display:inline">
				<textarea class="myarea" id="sent" name="sent" data-role="none" style="width:100%;border: none;box-shadow: none;font-size:18px;display:none"  placeholder="Type or paste (Ctrl+v) your text here" required></textarea>
			</div>
            <div style="width:15%;float:right;display:inline">
			<a id="clearBox" href="#" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" style="display:none"></a>
			<br>
			<br>
            <a id="academize" href="#" class="ui-btn ui-icon-arrow-r ui-btn-icon-notext ui-corner-all" style="display:none" onclick="vocab(document.myform.sent.value); return false;"></a>
            </div>
            </form>
            <br>
  
        </center>
		</div>
		
		
   </div>
</div> <!---A -->
  <div id="block-b" class="col-sm-5"  style="border-radius: 25px;background-color:#F1F1F0">
  <div id="res-wrapper" style="width:90%;margin:0 auto;">
	   <div id="longMode" class="alert alert-info" style="margin-top:10px;display:none;"><strong>Still Working!</strong><br>It can take <b>several minutes</b> to find many words for your text.<br>I will play a sound to inform you when it is done.</div> 
	  <div id="loading" style="margin-top:180px;display:none;"><center><img src="static/images/gears.svg" ></center></div>
	  <div id="toparea" style="position:relative;height:50px;top:20px;">
	  <div id="successful" class="alert alert-info" style="display:none;"><b>Click the underlined words</b> to select the substitution</div>  
	  <div id="welldone" class="alert alert-success" style="display:none;"><b>Well done! Your text is formal</b></div>
	  </div>
	  	<div id="103" class="error" style="display:none;margin-top:50px;">
					<div class="alert alert-danger"><b>SORRY! You text is too long</b></div>
					<div>There are <b><span class="st2" ></span> words</b> in your text and that is too long for the system. Please make your text shorter and try again.<br><br>
					<b>Please send 400 words.</b><br>
					<br>You can contact me for long text processing.</div>
				</div>
			   
			   	<div id="104" class="error" style="display:none;margin-top:50px;">
					<div class="alert alert-danger"><b>System Error</b></div>
					<div>System encountered a problem. Maybe there are errors in the text. Please revise your text and try again.</div>
				</div>	
	  <div id="result" style="position:relative;width:90%;color:#2e2d2b;">	

				<p><b></b></p>
				<p></a><br></p><br>
				<p><b><h3>Paraphrase System</h3></b><br>When you are writing a text (article, essay, email, etc),  you may wonder how you can receive alternative word suggestions for your ideas without any change in the meaning. This feature helps you to have a collection of words at your fingertips with the same contextual meaning. <a href="#" onclick="runExample3();">Click to try our example</a><br></p><br>
				<p><b>Context-based Learning</b><br>FormalWriter is a context-based neural paraphraser. This means that you need to add ideas to your text for our robot to understand the meaning of your text and it will be much more precise in its suggestions.</p><br>
				<p><b>Best Practice</b><br>The application is developed to help in academic writing. So the users are expected to be students and teachers to check the formality of an <b>assignment, paper, abstract, proposal</b> and so on. Please try your own writing!</p><br>
							
				<br>
		<!--		
  Use the .dropdown-menu                                          
  <li class="dropdown" style="display:inline-block">
    <span class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:underline;color:green">Tutorials
    </span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1" href="#">HTML</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1" href="#">Java</a></li>
      <li role="presentation"><a href="#" role="menuitem" tabindex="-1" href="#">FERT</a></li>
    </ul>
  </li>
  class to actually build the  <li class="dropdown" style="display:inline-block">
    <span class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:underline;color:green">dropdown
    </span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">WEWEW</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">weqweqwe</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">weqwe</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">wqeqweq Us</a></li>
    </ul>
  </li> menu.
  -->
  
    <br>
				<!--<div class="videoWrapper" style="width:100%"><iframe src="https://www.youtube.com/embed/c9ki1GtD6J8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> -->
	
	</div>
	

			        
	
	<div data-role="popup" id="acadpop" style="padding:15px;font-family: 'Muli', sans-serif;font-size:14px;max-width:400px;">
<p><b>Informal Word Substitution</b></p>
<p>This option finds the informal words in your writing and it will suggest formal and academic words. The words are ranked based on meaning and the context.<p>
	
	<br>
<p><i><b>Example:</b></i><p>
<p>Every time I wondered if we would ever get through this, she told me we would.</p>
<br>
<p>Every time I wondered if we would ever <span style="color:red"><del>get</del></span> <span style="color:red"><del>through</del></span> <span style="color:blue"><b>survive</b></span> this, she told me we would.</p>
<br>

</div>
 </div> <!--wrapper-->
  </div> <!-- B -->
  
  <div id="block-c" class="col-sm-2" style="border-radius: 25px;background-image:url('/static/images/water1.png');">
  
       <div role="main" class="ui-content" style="width:95%;margin-left:5%">
      <div data-role="container"><center><img src="../static/images/tryitfree.png" style="margin-top:20px"></center></a></div>
		<div data-role="container" style="width:90%;margin:0 auto;"> 
			<br>
				<input id="myuser" value="{{username}}" type="hidden">
				<input id="sent2" type="hidden">
				<input id="cleaned" type="hidden">
				<input id="proc" type="hidden">
				
			    <i><span id="user" style="font-size:12px"></span></i>
				<div id="editorCtl" class="ui-content" style="width:100%;margin:auto;">
		<button id="cleanOutput" class="btn btn-primary" data-role="none" style="display:none">Select Words & Clean Text</button> <button id="moredit" class="btn btn-info" data-role="none" style="display:none">Edit Text</button> <button id="cleanCopyVocab" class="btn btn-info" data-role="none" style="display:none">Clean & Copy</button> <span id='copied' style="font-size:10px;color: red;display:none">text copied to clipboard</span>
		<p id="smallNote" class="ui-content" style="width:100%;margin:auto;display:none;font-family: 'Muli:wght@900&display=swap', sans-serif;font-size:11px;"><span style="color:green">Green</span> words are <b>formal</b> or <b>academic</b> words.<br><span style="color:red">Red</span> words are <b>informal</b> words.<br>
		<span style="color:blue">Blue</span> words are words that you replaced.</p>   
	</div>
			<div id="stats" style="width:98%;margin:0 auto;font-size:14px;margin-top:80px;display:none">
				    
					<p>
					<span><b>Text Summary</b></span><br><br>
					<span>Text Length:</span> <span class="st2" ></span><br>
					<span>Words to Change:</span> <span id="st7" ></span><br>
					<br> 
					<span>Total Changes:</span> <span id="st1" ></span>%<br> 
					</p>

			</div>
			<div id="bolckCBar">
			<p class="inst" style="font-family: 'Muli', sans-serif;width:100%;color:#2e2d2b;margin-top:40px"><br><br><br>For <a href="#acadpop" data-rel="popup" data-transition="pop" style="text-decoration: underline;text-decoration-style:dashed;font-family: 'Muli', sans-serif;width:100%;font-weight:300">informal vocabulary substitution</a>, type/paste a short English text. (Maximum 400 words)<br><br></p> 
			<div style="font-family: 'Muli', sans-serif;width:100%;color:#2e2d2b;margin-top:150px">If you found this application useful and you need to process a long text, or in case of questions, please send me an email <a href="mailto:tarjomeh@gmail.com" style="text-decoration: none;">tarjomeh@gmail.com</a> <div id="play" style="display:none">Play</div>
			</div>
			</div>
		</div>
			</div>
      </div>
  

 
  
  </div><!-- C -->


<div id="myfooter" data-role="footer" style="margin:0 auto;padding:15px;background:#FFFFFF;font-size:13px;font-weight:500;color:#97a0bf;text-align:center;">
		<p style="width:80%;margin:0 auto">(c) FormalWriter (<a style="text-decoration:none;color:#97a0bf;font-size:13px;font-weight:500;" href="https://saberi.ir" target="_blank">Dariush Saberi</a>).<br>The application is developed with a grant from City University of Hong Kong.<br>Privacy: Your text is safe with us. We do not publish or transfer your text to any third party <br>for any reason, unless compelled to do so by a court of law. </p>
	</div>
</div> 
<div id="user-historyVocab" style="position:absolute;width:80%;margin-left:10%;margin-top:550px;z-index:100;height:400px;color:#2e2d2b;display:none">
            <p id="histTitle" class="alert alert-success" style="display:none"><b>Your Texts</b></p>
</div>
            

</div>
</div>

<div id="workstation" data-role="page" style="background:#fff">
<div class="container">
	log
</div>	
<div class="container">
  <div class="row">
    <div class="col-sm-4">1</div>
    <div class="col-sm-8">2</div>
  </div>
</div>
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVVTF8M0WS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GVVTF8M0WS');
</script>
</body>
</html>
